################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/SAE_Developpement_d_une_application/v17
/SAE Memory/.vs/SAE Memory
